.bg-main {
  /* background: linear-gradient(
    125deg,
    rgba(18, 144, 192, 1) 0%,
    rgba(1, 59, 166, 1) 40%,
    rgba(1, 59, 166, 1) 60%,
    rgba(18, 144, 192, 1) 100%
  ); */
  font-weight: 600;
  background-size:cover;
}
.authForm{
   background-image: url(./../../assets/images/11-types-of-containers\ \(1\).webp); 
    
  background-size:cover;
  background-repeat: no-repeat; 

}

.authForm form {
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
